/**
*---------------------------------
* admin panel product show table
*---------------------------------
**/


#photo-width {
  width: auto;
  height: 278px;
  border :none;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


$white: #F5F5F5;
$light: rgb(0, 0, 0);
$tan: #C3A1A0;
$pink: #D9AAB7;
$rose: #BA7E7E;
$dark: #4E4E4E;

/* center container in the middle */

body {
  display: grid;
  background: $light;

}

.container {
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, .5);
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color: $rose;
  letter-spacing: 1px;
}


img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}


.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  font-size: 1em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.add-button {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $white;
    background: $rose;
    transition: all .4s ease-in-out;
  }
}

.add-button {
  width: 48%;
}

.like {
  width: 48%;
}

.sizes {
  display: grid;
  color: $pink;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
  &:hover {
    cursor: pointer;
  }
}

.pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid $light;
  font-size: 0.7em;
  text-align: center;
  &:hover{
    background: $rose;
    color: $white;
    transition: all .4s ease-in-out;
  }
}

.focus{
  background: $rose;
  color: $white;
}

.sticky-footer{
  display: none;
}

