/**
*---------------------------------
* admin panel users profil table
*---------------------------------
**/

#userPanel table th,
#userPanel .table td {
  vertical-align: middle !important;
}

/**
*---------------------------------
* home 
*---------------------------------
**/

.home-box a {
  font-weight: 500;
  margin: 0 0 1.25rem;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  text-align: center;
  color: black;
}

.home-box-bottom {
  font-size: 0.9375rem;
  color: #8a8a8a !important;
}

.home-photo:hover {
  transform: translateY(-25px);
}

.home-photo {
  position: relative;
  list-style: none;
  transform: translateY(0);
  transition: all 0.3s cubic-bezier(0.38, 0.76, 0.87, 0.93) 0.02s;
}

.home-title {
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  position: absolute;
  top: 1.15rem;
  left: 1.875rem;
  font-size: 1.375rem;
  color: #fff;
}

.home-description {
  position: absolute;
  bottom: 1.875rem;
  padding: 0 1.875rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 0.9375rem;
  color: #fff;
  left: 0;
}

.home-photo:hover .home-description {
  opacity: 1;
}

.newsletter {
  padding: 50px 0;
  background: #f2f2f2;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px;
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}

.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0;
  background: #243c4f;
  color: #fff;
  font-weight: 600;
}

/**
*---------------------------------
* filter
*---------------------------------
**/

.filter-title {
  position: relative;
  font-weight: normal;
  text-transform: none !important;
  display: block;
  padding: 10px 15px;
  padding-left: 30px;
  font-size: 0.738rem;
  color: #555;
  font-weight: bold;
}

/**
*---------------------------------
* live search
*---------------------------------
**/

#Input-search {
  max-width: 360px;
  width: 100%;
  padding: 20px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  outline: none;
}

#Input-search.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#results {
  display: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  list-style: none;
  max-width: 400px;
  border: solid 1px lightgrey;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* position: relative; */
  overflow: hidden;
}

#results.open {
  display: flex;
}

#results li {
  display: flex;
  align-items: center;
}

#results li img {
  height: 50px;
}

#results li:hover {
  background-color: #2b90d9;
}

#results li .title b {
  color: red;
}

.input-form {
  width: 367px;
}

